# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

src/assets

public/cake
public/coffee
public/font
public/images
public/svg
public/clients
public/structured.png
public/coffee_icon.svg

.dockerignore
Dockerfile
docker-compose.yml

nginx.conf